@import "../variables";

.table-expand{
  max-height: 36vh;
  overflow-y: auto;
}

.table-expand::-webkit-scrollbar {
  width: 0.25em;
}

.table-expand::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $silk;
}

.table-expand::-webkit-scrollbar-thumb {
  background-color: $dusty;
  outline: 1px solid $silk;
}

.open-modal:hover {
  cursor: pointer;
}
