// Global settings
@import "./fonts";

$dusty: #96858F;
$silk: #6D7993;
$paper: #F4F4F4;
$overcast: #9099A2;
$coal: #252525;

$theme-colors: (
    "primary": $dusty,
    "secondary": $silk,
    "accent": $overcast,
    "light": $paper,
    "dark": $coal
);

$body-bg: $paper;
$body-color: $coal;


// Get bootstrap base config
@import "~bootstrap/scss/bootstrap";

.font-600 {
    font-weight: 600;
}

html, body {
    height: 100%;
}

#root{
    height: 100%;
}

body::-webkit-scrollbar {
    width: 0.25em;
}
 
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $silk;
}
 
body::-webkit-scrollbar-thumb {
  background-color: $dusty;
  outline: 1px solid $silk;
}
